
<header class="super-header">
<nav>
  <div class="col logo-container"><img src="./assets/images/hulk.png"/></div>
  <div class="col"><h2>Hulk Image Downloader</h2></div>
  <div class="col">
      <button mat-button [matMenuTriggerFor]="menu">Menu</button> &nbsp;
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="setDefaultValue()">Clean up</button>        
        <button mat-menu-item>Report</button>
        <button mat-menu-item>Storage</button>
      </mat-menu>
      
    <mat-slide-toggle [checked]="consoleOpen" (change)="toggleConsoleOpen($event)">Console</mat-slide-toggle>  &nbsp;
    <button (click)="populateImageList()" *ngIf="this.frmGroup.value.segmentOne.length>0" mat-button>Load</button> &nbsp;
  </div>
</nav>
</header>

<div>
  <!--
logo-container
<img src="./assets/images/hulk.png"/>
  -->
  <div class="objectWrap" *ngIf="consoleOpen">
    <section class="main-form">
        <form [formGroup]="frmGroup">
            <mat-form-field style="width:100%">
                <input formControlName="mainURL" matInput placeholder="Main url"/>
            </mat-form-field>
            <mat-form-field style="width:70%">
                <input formControlName="segmentOne" matInput placeholder="Segment one"/>
            </mat-form-field>
            <mat-form-field style="width:30%">
                <input formControlName="segmentTwo" matInput placeholder="Segment two"/>
            </mat-form-field>
            <mat-form-field>
                <input type="number" formControlName="startIndex" matInput placeholder="Start"/>
            </mat-form-field>
            <mat-form-field>
                <input type="number" formControlName="endIndex" matInput placeholder="End"/>
            </mat-form-field>
        </form> 
        
        <div>
            <app-broke-text [url]="url" (urlSegmentDone)="setSegments($event)"></app-broke-text>
        </div>
    </section>
  </div>
</div>
<router-outlet></router-outlet>

<footer>

</footer>

