.super-header{
    background:#424242;
    color:white;
    padding: 30px;
}

.super-header .col{
  display: inline-block;
  vertical-align: middle;
}

.super-header .col h2{
  font-weight: normal;
  margin-top:0px;
  margin-bottom:0px;
  margin-right: 30px;
}
.logo-container{
  display: inline-block;
  width:50px;
  margin-right: 20px;
}
.logo-container img{
  width:100%;
  height:auto;
}
.objectWrap{
  position: absolute;
  top:134px;
  left:0px;
  width: 100%;
  z-index:999;
}
.objectWrap *{
  box-sizing: border-box;
}

.main-form{
 
  display: inline-block;
}

.main-form input{
 width:100%;
}

.main-form  {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: rgba(0,0,0,0.7);
  }
  
  

  .main-form input{
      color:white;
  }