<div class="image-grid container-fluid">
  <div class="btn-group">
    <a id="linkPadOpener" *ngIf="linkArray.length>0" (click)="toggleLinkPad()" class="btn btn-success">Link report</a>
    <a id="cleanGrid" *ngIf="linkArray.length>0" (click)="cleanGrid()" class="btn btn-primary">Clean grid</a>
  </div>
  <div id="linkpad" style="margin-top:20px;">
    <ol class="list-group">
      <li class="list-group-item" *ngFor="let link of linkArray; let serial = index">
        
        <span *ngIf="imageObjectCollection[serial].exists"><input type="checkbox" [(ngModel)]="imageObjectCollection[serial].includedInZip" ></span> 
        <span>&nbsp;&nbsp;&nbsp;<a href="{{link}}" target="_blank"><small>{{link}}</small></a></span>
      </li>
    </ol>
  </div>
  <hr *ngIf="linkArray.length>0"/>
  <div class="image-container">
    
    <div *ngFor="let imgobj of imageObjectCollection; let idx = index" class=" col-sm-3 nomargin nopadding">
      
      <div class="imgEl">
        <img *ngIf="(imgobj.status==='loaded')" src="{{imgobj.image.src}}"/>
        <div *ngIf="(imgobj.status==='loaded')" class="prop-board">
          <h4>{{idx}}</h4>
          <h6>Loaded</h6>
          <input type="checkbox"/>
          <hr/>
          <div><a class="btn btn-primary btn-sm" href="{{imgobj.image.src}}" download=""><small>Download</small></a></div>
          <small>{{imgobj.width}} × {{imgobj.height}}</small>
        </div>
        
        <div *ngIf="(imgobj.status==='error')" class="prop-board error">
          <h4>{{idx}}</h4>
          <h6 class="text-danger">Not available</h6>
          <hr/>
          <small class="text-danger">{{imgobj.image.src}}</small>
        </div>

        <div *ngIf="(imgobj.status==='loading')" class="prop-board fixed loading">
          <h4>Loading...</h4>
        </div>  
      </div>

     
    </div>
    
  </div>
</div>
