<div class="image-grid container-fluid">
  <div class="btn-group">
    <a class="btn btn-warning">Original</a>
    <a class="btn btn-warning">List</a>
    <a class="btn btn-warning">Grid</a>
  </div>
  <hr/>
  <div class="image-container">
    <div class=" col-xs-4 nomargin nopadding">
      <div class="imgEl">
        <img src="http://bit.ly/2ueS6G2"/>
      </div>
    </div>
    <div class=" col-xs-4 nomargin nopadding">
        <div class="imgEl">            
      </div>
    </div>
  </div>
</div>
