.image-view-wrapper{
    width:100%;
    height:250px;
    overflow: hidden;
    position: relative;
}

.image-wrap {
    text-align: center;
    background:#424242;
}
.image-wrap img{
    height:100%;
    width:auto;
    
}