
<nav class="main-nav container-fluid">
    <div class="col-md-6">
    <h3 class="BrandHOne2">Location NoteBook</h3>
    </div>
    <div class="col-md-6">
        <div class="float-right welcome-signature">
            <div class="profile-image-container short">
                <img src="https://i.pinimg.com/736x/13/eb/66/13eb6685bfd702176bcd71f5a4950d92--unique-faces-face-hair.jpg" />
            </div>  
            <h3 class="G3Text">Welcome Sutirtha</h3>
            <div class="short-nav">
                <a>Help</a> <a>FAQ</a>
            </div>      
        </div>
    </div>    
</nav>
<nav class="side-nav">
    
</nav>

<!--
<div>
    <app-login-screen (loginSuccess)="onLoginSuccess($event)">  
    </app-login-screen>
</div>
-->
