
<nav class="main-nav container-fluid" *ngIf="CurrentUserProfile!==null && JourneyCanStart">
    <div class="col-md-6">
    <h3 class="BrandHOne2">Location NoteBook</h3>
    </div>
    <div class="col-md-6">
        <div class="float-right welcome-signature">
            <div class="profile-image-container short">
                <img src="{{CurrentUserProfile.image}}" />
            </div>  
            <h3 class="G3Text">Welcome {{CurrentUserProfile.name}}</h3>
            <div class="short-nav">
                <a href="#"><app-sign-out-action></app-sign-out-action></a><a href="#">Help</a>
            </div>      
        </div>
    </div>    
</nav>
<nav class="side-nav" *ngIf="CurrentUserProfile!==null && JourneyCanStart">    
</nav>

<div class="app--router-base" *ngIf="CurrentUserProfile!==null && JourneyCanStart">
    <router-outlet (activate)='onActivate($event)'></router-outlet>
</div>


<div *ngIf="!JourneyCanStart">
    <app-login-screen (onJourneyStart)="onJourneyStart($event)" (loginSuccess)="onLoginSuccess($event)">  
    </app-login-screen>
</div>

