<div class="login-screen">
  <div *ngIf="!signin">
    <div class="login-wrap">  
      <h1 class="BrandHOne1">Location NoteBook</h1>
      <div class="g-signin2" data-onsuccess="onSignIn"></div>
      <p class="small WText">
        Please check whether Popup Blocker is deactiavted in the browser or not. Google Signin required Popups, so activation of Popup Blocker may stop the functioning. Please check before signin the application.
      </p>
      <br/>   
      <div><a class="btn btn-block btn-primary" href="#" onclick="signOut();">Sign out</a></div>   
      <br/>
      <div>
        <div>
        <h3 class="WText">Oh! Great!</h3>
        <p class="WText">
          So you are signed in as somename. Please start your journey by clicking the following button. Hope you will enjoy.
        </p>
        </div>
        <a class="btn btn-block btn-info" href="#">Start Journey</a>
      </div>
    </div>
  </div>
</div>