<div class="login-screen {{loginAppearClass}}">
  <div class="login-bg"></div>

  <div>
    <div class="login-wrap">  
      <h1 class="BrandHOne1">Location NoteBook</h1>
      
      <div id="signinPanel" class="{{googleSignPanelClass}}">
        <br/>
        <h4 class="WText">Check it!</h4>
        <p class="small WText">Please check whether Popup Blocker is deactiavted in the browser or not. Google Signin required Popups, so activation of Popup Blocker may stop the functioning. Please check before signin the application.</p>
        <br/>
        <hr style="opacity:0.2;"/>
        <div class="g-signin2" data-ux-mode="redirect" data-theme="dark" data-onsuccess="onSignInSuccess"></div>   
        
      </div>
   <!--data-onsuccess="onSignIn" -->
   <!--data-callback="onSignIn" -->
   <!--  -->        
        <div id="okPanel" *ngIf="signin">
          <h4 class="WText">Welcome {{googleProfile.name}}!  &nbsp;&nbsp;<span class="small WText">|</span> <a class="btn btn-sm"  href="" (click)="onGooogleSignOut()">Sign out</a></h4>
          
          <div class="profile-image-container">
            <img src="{{googleProfile.image}}"/>
          </div>
          <br/>
          
          <br/>
          <p class="small WText">So you are signed in as {{googleProfile.name}} with email <a href="mailto:{{googleProfile.email}}">{{googleProfile.email}}</a>. Please start your journey by clicking the following button. Hope you will enjoy.</p>
          <div class="journey-start-button" (click)="homeScreenKikOff('fromStartButton')">
            <div class="surface">
              <div class="label">Start Journey</div>
              <app-common-preloader [preloaderType]="'countdown'" (countDownEnd)="homeScreenKikOff($event)"  (countDownCompReady)="onCountDownPreloaderReay($event)"></app-common-preloader>
            </div>
          </div>
          
          
          
        </div>
        
      
    </div>
    <div class="login-preloader-container">
        <app-common-preloader [preloaderType]="'loading'"></app-common-preloader>
    </div>
  </div>
</div>